/* LANDING PAGE ------------------------------------------------------------- */

.landingwrapper {
    width:100%;
}

.hbdwilson {
    font-family:'Chakra Petch';
    font-weight:600;
    font-size:5em;
    max-width:8em;
    text-align:center;
    margin-bottom:.5em;
}

.landingtextcontainer {
    max-width:50%;
}

.landingbuttons {
    font-family:'VT323';
    text-align:center;
}

.landingbuttons button {
    background-color:#F5EB28;
    color:#457EAA;
    font-size:2em;
    border-radius:.25em;
    border:none;
    box-shadow: #8CF0FF .25em .25em 0 0;
    margin-bottom:1em;
}

/* SNS PROJECTS PAGE--------------------------------------------------------- */

.snsimgwrap img {
    max-width:20em;
    margin-bottom:3em;
}

.snstextwrap {
    max-width:40em!important;
    text-align:left;
    font-family:"Nunito";
    margin-bottom:3em;
}

.pagetitle {
    font-family: "Chakra Petch";
    font-size: 4em;
    font-weight:600;
}

.snstitle {
    font-family: "Chakra Petch";
}

.snslink {
    font-family: "VT323";
}

/* MOBILE OPTIMIZATION ------------------------------------------------------ */

@media (max-width: 700px) {
    /* SNS PAGE */
    .snstextwrap, .snsimgwrap {
        max-width:100%!important;
    }

    .snsimgwrap img {
        max-width:100%!important;
    }

    .pagetitle {
        font-size:3em;
    }
}