/* UNIVERSAL ---------------------------------------------------------------- */

html {
	min-height: 100% !important;
}

body {
	min-height: 100% !important;
	background-color: white !important;
	display: flex;
	flex-flow: column;
	background: linear-gradient(to bottom, transparent 0%, transparent 70%, rgb(255, 249, 197) 100%);
	background-size: cover;
	font-family: 'Figtree', sans-serif !important;
}

header {
	max-width: 75%;
	padding-top: 5em;
	padding-bottom: 5em;
}

h2>a,
h2 {
	font-family: "Figtree" !important;
	font-weight: 700 !important;
	color: #061d38 !important;
	font-size: 2rem !important;
}

h3 {
	font-family: "Figtree" !important;
	font-weight: 700 !important;
}

footer {
	color: #0a2d55;
}

footer a {
	color: #457eaa;
}

/* LANDING PAGE ------------------------------------------------------------- */

#landing-willy {
	opacity: 0;
	max-height: 30em;
}

.landing-wrapper {
	/* padding-top: 3em; */
	width: 100%;
	background-color: white;
	background-image: linear-gradient(to bottom, transparent, white), url("assets/JP_Pattern_edited.webp");
	background-size: cover;
	background-repeat: no-repeat;
}

.landing-header {
	margin-top: 5em;
	order: 1;
}

.landing-header-wrapper {
	width: 100%;
}

.landing-willy-container {
	order: 2;
	background-image: url("assets/landingwilly.webp");
	background-size: cover;
	margin-top: 3em;
}

.landing-title {
	font-family: "Fugaz One", sans-serif;
	font-weight: 600;
	font-size: 4em;
	max-width: 50rem;
	text-align: left;
	margin-bottom: 1.5rem;
	color: white;
	text-shadow: -2px -2px 0 #0a2d55, 2px -2px 0 #0a2d55, -2px 2px 0 #0a2d55, 5px 5px 0 #0a2d55;
}

.landing-tagline {
	font-family: "Figtree";
	font-weight: 600;
	color: #061d38;
	max-width: 50rem;
	text-align: left;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 1em;
	padding: 2em;
}

.landing-bg {
	background-color: black;
}

.gallery-widget img {
	width: 15em;
	height: 9em;
	margin: 3px;
	border-radius: 1em;
	object-fit: cover;
}

.sns-row {
	text-align: center;
}

.sns-widget {
	margin-bottom: 1em;
	width: 10em !important;
	padding-top: 1em !important;
	background-color: rgba(255, 255, 255, 1) !important;
	border-radius: 1em !important;
	border: solid 2px #0a2d55 !important;
	box-shadow: 3px 3px #0a2d55;
}

.sns-widget:hover {
	background-color: rgba(255, 255, 255, 1) !important;
	border-color: #0047b1 !important;
	box-shadow: 3px 3px #0047b1;
}

.sns-widget img {
	border-radius: 5em;
	margin-bottom: 1em;
	max-width: 125px;
}

.sns-widget h3 {
	font-size: 1rem !important;
}

.snsModal h5 {
	font-family: "Fugaz One", sans-serif !important;
	color: #0a2d55 !important;
}

.snsModal {
	font-family: "Figtree", sans-serif;
}

.snsModal a {
	font-weight: 700 !important;
	color: #0a2d55 !important;
}

.snsModal .btn {
	background-color: rgb(214, 220, 236) !important;
	border: solid 1px #0a2d55 !important;
}

#magmaBoard .modal-dialog {
	max-width: 90vw !important;
}

/*NAV BAR --------------------------------------------------------------------*/

.navbar {
	font-family: "Figtree", sans-serif;
	color: #294c65;
	background-color: rgba(255, 255, 255, 0.75);
}

.navbar a {
	color: #294c65;
}

.navbar a:hover {
	color: #0a2d55;
}

.navbar-brand {
	font-family: "Fugaz One", sans-serif;
	font-size: 1.5rem !important;
	letter-spacing: 0.04rem;
	color: #457eaa;
}

.nav-link {
	font-size: 1.25rem;
	letter-spacing: 0.03rem;
	color: #457eaa;
}

.custom-toggler .navbar-toggler {
	border-color: #457eaa;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(69,126,170, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Timeline*/
.timeline {
	position: relative;
	background: inherit;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5rem;
	margin: 0 auto 1rem auto;
	overflow: hidden;
}

.timeline:after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -2px;
	border-right: 2px dashed #4b546f;
	height: 100%;
	display: block;
}

.timeline-row {
	padding-left: 50%;
	position: relative;
	margin-bottom: 30px;
}

.timeline-row .timeline-time {
	position: absolute;
	right: 50%;
	top: 15px;
	text-align: right;
	margin-right: 20px;
	color: #0a2d55;
	font-size: 1.5rem;
}

.timeline-row .timeline-time small {
	display: block;
	font-size: 0.8rem;
}

.timeline-row .timeline-content {
	position: relative;
	padding: 30px 20px;
	background: white;
	border: solid 2px #0a2d55;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.timeline-row .timeline-content:after {
	content: "";
	position: absolute;
	top: 20px;
	height: 16px;
	width: 16px;
	background: white;
	border: solid 2px #0a2d55;
}

.timeline-row .timeline-content:before {
	content: "";
	position: absolute;
	top: 20px;
	right: -49px;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	z-index: 10;
	background: #bcd0f7;
	border: 2px dashed #4b546f;
}

.timeline-row .timeline-content h4 {
	margin: 0 0 20px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 150%;
}

.timeline-row .timeline-content p {
	margin-bottom: 0px;
	line-height: 150%;
}

.timeline-row .timeline-content i {
	font-size: 1.2rem;
	line-height: 100%;
	padding: 15px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background: #272e48;
	margin-bottom: 10px;
	display: inline-block;
}

.timeline-row .timeline-content img {
	max-width: 100%;
}

.timeline-row .timeline-content .thumbs {
	margin-bottom: 20px;
	display: flex;
}

.timeline-row .timeline-content .thumbs img {
	margin: 5px;
	max-width: 60px;
}

.timeline-row .timeline-content .badge {
	color: #ffffff;
	background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
}

.timeline-row:nth-child(even) .timeline-content {
	margin-left: 40px;
	text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
	left: -8px;
	right: initial;
	border-bottom: 0;
	border-left: 0;
	transform: rotate(-135deg);
}

.timeline-row:nth-child(even) .timeline-content:before {
	left: -52px;
	right: initial;
}

.timeline-row:nth-child(odd) {
	padding-left: 0;
	padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
	right: auto;
	left: 50%;
	text-align: left;
	margin-right: 0;
	margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
	margin-right: 40px;
}

.timeline-row:nth-child(odd) .timeline-content:after {
	right: -8px;
	border-left: 0;
	border-bottom: 0;
	transform: rotate(45deg);
}

@media (max-width: 992px) {
	.timeline {
		padding: 15px;
	}

	.timeline:after {
		border: 0;
	}

	.timeline .timeline-row:nth-child(odd) {
		padding: 0;
	}

	.timeline .timeline-row:nth-child(odd) .timeline-time {
		position: relative;
		top: 0;
		left: 0;
		margin: 0 0 10px 0;
	}

	.timeline .timeline-row:nth-child(odd) .timeline-content {
		margin: 0;
	}

	.timeline .timeline-row:nth-child(odd) .timeline-content:before {
		display: none;
	}

	.timeline .timeline-row:nth-child(odd) .timeline-content:after {
		display: none;
	}

	.timeline .timeline-row:nth-child(even) {
		padding: 0;
	}

	.timeline .timeline-row:nth-child(even) .timeline-time {
		position: relative;
		top: 0;
		left: 0;
		margin: 0 0 10px 0;
		text-align: left;
	}

	.timeline .timeline-row:nth-child(even) .timeline-content {
		margin: 0;
	}

	.timeline .timeline-row:nth-child(even) .timeline-content:before {
		display: none;
	}

	.timeline .timeline-row:nth-child(even) .timeline-content:after {
		display: none;
	}
}

/*OWL CAROUSEL*/

.owl-carousel .owl-item {
	vertical-align: middle;
}

.owl-carousel .owl-item img {
	display: block;
	margin: auto;
	max-height: calc(100vh - 10.25rem);
	max-width: 100vw;
}

.owl-carousel .owl-item p {
	text-align: center;
	font-family: "Figtree", sans-serif;
	margin-top: 1em;
	font-weight: 700;
}

.owl-carousel .owl-stage {
	display: flex;
	align-items: center;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #061d38;
}

.owl-nav .owl-next {
	position: absolute;
	top: 40%;
	right: 10%;
	opacity: 1;
	font-size: 50px !important;
	z-index: 1;
	height: 1.6em;
	width: 1em;
	color: #061d38 !important;

}

.owl-nav .owl-prev {
	position: absolute;
	top: 40%;
	left: 10%;
	opacity: 1;
	font-size: 50px !important;
	z-index: 1;
	height: 1.6em;
	width: 1em;
	color: #061d38 !important;
}

.owl-nav span {
	position: relative;
	bottom: 0.1em;
}

/* PAPE PHOTOS ---------------------------------------------------------- */

.worldwide-willy-body,
.credits-body,
.timelinebody {
	width: 100%;
	background-color: white;
	background-image: linear-gradient(to bottom, transparent, white 15%, rgb(255, 249, 197) 100%),
		url("assets/JP_Pattern_edited.webp");
	background-size: contain;
	background-repeat: no-repeat;
}

.pagetitle {
	font-family: "Fugaz One";
	color: white;
	text-shadow: -2px -2px 0 #0a2d55, 2px -2px 0 #0a2d55, -2px 2px 0 #0a2d55, 5px 5px 0 #0a2d55;
	margin-bottom: 2rem;
	font-size: 3em;
}

.tagline {
	font-family: "Figtree";
	max-width: 50em;
	font-weight: 600;
	color: #061d38;
	margin: auto;
}

.pape-polaroid {
	background-color: white;
	border: solid 1px #0a2d55;
	border-radius: 5px;
	margin-top: 1em;
	margin-bottom: 2em;
	padding: 1em;
	text-align: center;
	box-shadow: 10px 10px #0a2d55;
}

.worldwide-container span {
	text-align: center;
	border: solid 1px #0a2d55;
	border-radius: 5px;
	padding: 5px;
	font-family: "Figtree";
	font-weight: 600;
}

.bi-geo-alt {
	position: relative;
	top: 2px;
}

.worldwide-container img {
	max-width: 100%;
	margin-bottom: 1em;
}

.worldwide-container .col {
	margin: 1em;
}

/* CREDITS ------------------------------------------------------------------ */

#creditsimg {
	max-width: 100%;
	border-bottom:.5em dotted #f5eb28
}

.credits-container {
	font-family: "Nunito";
	max-width: 60em !important;
}

.credits-container a {
	color: #0a2d55;
}

.credits-container a:hover {
	color: #061d38;
}

.credits-container .row img {
	width: 7em;
	border-radius: 7em;
}

.credits-container p {
	font-weight: 800;
}

.credits-container h2 {
	font-family: "VT323";
}

.credits-container .col-sm {
	margin-bottom: 3em !important;
}

/* MOBILE OPTIMIZATION ------------------------------------------------------ */

@media (max-width: 1155px) {
	header {
		max-width: 90%;
		padding-top: 3em;
		padding-bottom: 3em;
	}

	.navbar-brand {
		font-size:1rem!important;
	}

	/* LANDING PAGE */
	.landing-willy-container {
		order: 1;
		max-width: 100vw;
	}

	.landing-header {
		order: 2;
		max-width: 100% !important;
		margin: 2em;
	}

	.landing-title {
		font-size: 3em;
		max-width: 100%;
		text-align: center;
	}

	.landing-tagline {
		padding-left: 2em;
		padding-right: 2em;
		padding-top: 1em;
	}

	.gallery-widget {
		margin-bottom: 2em;
	}

	.gallery-widget img {
		max-width: 40vw;
		object-fit: cover;
	}

	#landing-willy {
		max-width: 100vw;
	}

	#magmaBoard .modal-dialog {
		max-width: 100% !important;
	}

	/* SNS PAGE */
	.snstextwrap,
	.snsimgwrap {
		max-width: 100% !important;
	}

	.snsimgwrap img {
		max-width: 100% !important;
	}

	.pagetitle {
		font-size: 3em;
	}

	.chibi1 {
		position: relative;
		margin: auto;
	}

	.snswrapper {
		margin-bottom: 14em !important;
	}

	/* FIRST STEPS */

	.first-steps-title {
		font-size: 3em;
	}

	.owl-next {
		right:1%!important;
	}

	.owl-prev {
		left:1%!important;
	}

	/* WILLY WORLDWIDE */

	.worldwide-willy-body,
	.credits-body,
	.timelinebody {
		width: 100%;
		background-color: white;
		background-image: linear-gradient(to bottom, transparent, white 5%, rgb(255, 249, 197) 100%),
			url("assets/JP_Pattern_edited.webp");
		background-size: 200%;
		background-repeat: no-repeat;
	}

	/* CREDITS */

	.chibi2,
	.chibi3 {
		position: static;
		margin: auto;
		display: inline-block;
		text-align: center;
		margin-bottom: 3em;
	}
}