/* UNIVERSAL ---------------------------------------------------------------- */

body {
	min-height:100vh;
	height:100%;
	background: white;
}

/* LANDING PAGE ------------------------------------------------------------- */

.landingwrapper {
	width: 100%;
}

.hbdwilson {
	font-family: "Chakra Petch";
	font-weight: 600;
	font-size: 5em;
	max-width: 8em;
	text-align: center;
	margin-bottom: 0.5em;
}

.landingtextcontainer {
	max-width: 50%;
}

.landingbuttons {
	font-family: "VT323";
	text-align: center;
}

.landingbuttons button {
	background-color: #f5eb28;
	color: #457eaa;
	font-size: 2em;
	border-radius: 0.25em;
	border: none;
	box-shadow: #8cf0ff 0.25em 0.25em 0 0;
	margin-bottom: 1em;
}
/*NAV BAR --------------------------------------------------------------------*/

.navbar {
	background-color: #f5eb28;
	font-family: "VT323";
	color:#457eaa;
}

.navbar a {
	color:#457eaa;
}

.navbar a:hover {
	color:#0A2D55;
}

.navbar-brand {
	font-size: 1.5rem !important;
	letter-spacing: 0.04rem;
}

.nav-link {
	font-size: 1.25rem;
	letter-spacing: 0.03rem;
}

.custom-toggler .navbar-toggler {
	border-color: #457eaa;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(69,126,170, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* SNS PROJECTS PAGE--------------------------------------------------------- */

.snswrapper a {
	color:#457eaa
}

.snswrapper a:hover {
	color:#0A2D55;
}

.snsimgwrap img {
	max-width: 20em;
	max-height:18em;
	margin-bottom: 3em;
}

.snstextwrap {
	max-width: 40em !important;
	text-align: left;
	font-family: "Nunito";
	margin-bottom: 3em;
}

.pagetitle {
	font-family: "Chakra Petch";
	font-size: 4em;
	font-weight: 600;
}

.snstitle {
	font-family: "Chakra Petch";
}

.snslink {
	font-family: "VT323";
	font-size:1.25em;
}

.chibi1 img {
	max-width:12em;
	position:absolute;
	right:5em;
	top:50%;
}

/* MOBILE OPTIMIZATION ------------------------------------------------------ */

@media (max-width: 1000px) {
	/* LANDING PAGE */
	#landingwilly {
		max-width:100%!important;
	}

	.hbdwilson {
		font-size:4em;
		max-width:100%;
	}

	.landingbuttons {
		font-size:.95em;
	}

	.landingtextcontainer,
	.landingwillycontainer {
		max-width:100%!important;
	}

	/* SNS PAGE */
	.snstextwrap,
	.snsimgwrap {
		max-width: 100% !important;
	}

	.snsimgwrap img {
		max-width: 100% !important;
	}

	.pagetitle {
		font-size: 3em;
	}

	.chibi1 {
		position:relative;
		margin:auto;
	}

	.snswrapper {
		margin-bottom:14em!important;
	}
}
